.dropdown-item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .form-control {
    width: 100%;
  }
  .nav-vertical {
    display: none;
  }
}


.form-control{
   width: 300px;
   
}